<h1>This is the home page</h1>

<p>Viewers have watched <%= @videos_watched %> video(s).</p>

<%= form_for @socket.endpoint, "#",
  id: "video-form",
  phx_submit: "record_viewing_video" %>
  <%= hidden_input(:video, :id, value: "123") %>
  <%= submit "Record viewing video", phx_disable_with: "Recording..." %>
</form>
