<h1>This is the home page</h1>

<p>Viewers have watched <%= @videos_watched %> video(s).</p>

<form action="/record-viewing/12345" method="POST">
  <button type="submit">Record viewing video</button>
</form>
